.log-ctrl{
	width: 100%;
	margin-bottom: 2.7%;
	background-color: white;
	border-top: 1px solid #b3b3b3;
	border-bottom: 1px solid #b3b3b3;
}

.top-banner{
	width: 100%;
	padding: 1.3%;
}
.log-ctrl{
	padding: 4.2%;
}